.sidebar{
  background-color: #fff;
  box-shadow: -12px 0 8px rgb(0 0 0 / 10%)
}
.li-style{
  border-bottom: 1px solid #212529;
}
.nav-border{
  border-bottom: 1.3px solid rgb(152, 145, 145);
}

/* for mobile nav baground  */
.nav-bg{
  background-color: rgba(69, 143, 208, .87)
}
.nav-z{
  z-index: 1200px !important;
}

/* About me border bottom style  */
.bottom-border::before{
  content:'';
  position: absolute;
  bottom: -15px;
  transform: translate(-50%,-50%);
  background: #458fd0;
  height: 2px;
  width: 15%;
}
.border_bottom{
  border-bottom: 0.7px solid rgb(178, 174, 174);
}
/* btn design  */
.hire_btn{
  background: #458fd0;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #458fd0;
  transition: .3s ease;
}
.hire_btn:hover{
  background: #fff;
  color: #458fd0;
  border: 1px solid #458fd0;
}
.resume_btn{
  background: white;
  color: #458fd0;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #458fd0;
  position: relative;
  overflow: hidden  ;
  transition: .3s ease;
  z-index: 1;
  /* display: inline-block; */
}
.resume_btn::after{
  content:"";
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background: #458fd0;
  transform: translateX(-105%);
  border-radius: .5rem;
  transition:0.5s all;
}
.resume_btn:hover{
  color: #fff;
  /* z-index: 21; */
}
.resume_btn:hover:after{
  transform: translateX(0);
  color: #fff;
  z-index: -1;
}

/* sevices bg image  */
.services{
  background-image: url('./assets/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


/* service card hover effect  */

.service-card {
  display: block;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  transition: .5s ease;
}

.service-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #458fd0;
  height: 40px;
  width: 40px;
  color: #fff;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform .5s ease-out;
}

.service-card:hover::before {
  transform: scale(35);
  
}

.service-card:hover {
  margin-top: 60px;
}
.service-card:hover h3{
 color:#fff !important;
}
.service-card:hover button{
 color:#fff !important;
}
.card-hover:hover article{
  color: #fff;
}

/* project card design  */
.project{
  transition: .3s ease;
  overflow: hidden;
}
.project_card{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #458fd0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  transform: translateY(-1000px);
  transition: .1s ease;
  cursor: pointer;
  font-size: 18px;
}
.project:hover .project_card{
  transform: translateY(0);
  opacity: 0.9;
}
