.sidebar{
  background-color: #fff;
  box-shadow: -12px 0 8px rgb(0 0 0 / 10%)
}
.li-style{
  border-bottom: 1px solid #212529;
}
.nav-border{
  border-bottom: 1.3px solid rgb(152, 145, 145);
}

/* for mobile nav baground  */
.nav-bg{
  background-color: rgba(69, 143, 208, .87)
}
.nav-z{
  z-index: 1200px !important;
}

/* About me border bottom style  */
.bottom-border::before{
  content:'';
  position: absolute;
  bottom: -15px;
  transform: translate(-50%,-50%);
  background: #458fd0;
  height: 2px;
  width: 15%;
}
.border_bottom{
  border-bottom: 0.7px solid gray;
}
